@font-face {
  font-family: 'Nanum';
  font-display: fallback;

  /* 
  src: 사용할 폰트의 위치 및 형식 
     Safari, Android, iOS => ttf
     Modern Browsers => woff
     IE6-IE8 => eot
  */
  src: url('./NanumSquareNeo-Variable.ttf') format('truetype'),
    url('./NanumSquareNeo-Variable.eot?#iefix') format('embedded-opentype'),
    url('./NanumSquareNeo-Variable.woff2') format('woff');
}

@font-face {
  font-family: 'Noto';
  font-display: fallback;
  font-weight: 300;
  src: url('./NotoSansKR-Light.otf');
}

@font-face {
  font-family: 'Noto';
  font-display: fallback;
  font-weight: 400;
  src: url('./NotoSansKR-Regular.otf');
}

@font-face {
  font-family: 'Noto';
  font-display: fallback;
  font-weight: 500;
  src: url('./NotoSansKR-Medium.otf');
}

@font-face {
  font-family: 'Noto';
  font-display: fallback;
  font-weight: 700;
  src: url('./NotoSansKR-Bold.otf');
}
